/* Container for the toggle button */
.toggle-container {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-left: 30px;
}

.toggle {
  width: 50px;
  height: 25px;
  border-radius: 50px;
  background: var(--cream);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* Add some text styles for "Light" and "Dark" */
.toggle-container span {
  font-family: var(--body-font);
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color);
}

.DarkMode-icon {
  width: 30px;
}
